<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <!--<machineKey validationKey="27EA0BA2C9E441F957005B0DCA4523405025574D22E263BD3FF46C5E5F03AFF89961B8F0049290E89A16605B42A95408D7670213CD417E46AC9D1AB421FBC353" decryptionKey="14FBD874A41FAADDB84DD877F673C530298A6EB545FCCE4EEDDAD0FCBD945854" validation="SHA1" decryption="AES" xdt:Transform="Insert" />
    <sessionState mode="StateServer" xdt:Transform="SetAttributes" />-->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>