<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>X:\Deployment Packages\Terminal.MvcUI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntityContainer" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Terminal.Domain.Entities.EntityContainer, Terminal.Domain" MigrationConfiguration="Terminal.Domain.Migrations.Configuration, Terminal.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/CodeKicker.BBCode.dll">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="bin/CodeKicker.BBCode.pdb">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="bin/CodeKicker.BBCode.xml">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="bin/dotless.Core.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Mvc.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.pdb">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Ninject.pdb">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.pdb">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/SignalR.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/SignalR.Hosting.AspNet.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/SignalR.Ninject.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="bin/Terminal.Domain.dll">
      <publishTime>03/06/2012 20:43:56</publishTime>
    </File>
    <File Include="bin/Terminal.Domain.pdb">
      <publishTime>03/06/2012 20:43:56</publishTime>
    </File>
    <File Include="bin/Terminal.Domain.xml">
      <publishTime>03/06/2012 20:43:56</publishTime>
    </File>
    <File Include="bin/Terminal.MvcUI.dll">
      <publishTime>03/06/2012 20:43:59</publishTime>
    </File>
    <File Include="bin/Terminal.MvcUI.pdb">
      <publishTime>03/06/2012 20:43:59</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>03/04/2012 22:33:07</publishTime>
    </File>
    <File Include="Content/background.jpg">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/background_halloween.jpg">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/background_xmas.jpg">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/play.png">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/soundmanager2/soundmanager2.swf">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/soundmanager2/soundmanager2_debug.swf">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/soundmanager2/soundmanager2_flash9.swf">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/soundmanager2/soundmanager2_flash9_debug.swf">
      <publishTime>03/04/2012 22:33:06</publishTime>
    </File>
    <File Include="Content/sounds/Maenam.mp3">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Content/sounds/techtyping.mp3">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Content/sounds/TheDarkeningGround.mp3">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Content/sounds/typewriter.mp3">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Content/stop.png">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Content/tunnel.jpg">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.4-vsdoc.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.4.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.4.min.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery.coolType_1.2.0.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery.history.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery.scrollTo-min.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery.signalR.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery.signalR.min.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/jquery.TerminalClient.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/prettify.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/snowfall.min.jquery.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Scripts/soundmanager2-nodebug-jsmin.js">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Styles/prettify.less">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Styles/Terminal.less">
      <publishTime>03/05/2012 23:29:42</publishTime>
    </File>
    <File Include="Styles/Terminal_Halloween.less">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Styles/Terminal_xmas.less">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Views/Terminal/Index.cshtml">
      <publishTime>03/05/2012 23:29:42</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>03/06/2012 20:44:20</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>03/05/2012 09:51:07</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>03/06/2012 20:44:20</publishTime>
    </File>
  </ItemGroup>
</Project>